.myself_backimg {
    background-image: url('./data/iwant.png'); /* 이미지 경로는 실제 환경에 맞게 조정하세요 */
    background-size: cover;
    background-position: center;
    height: 600px;
    text-align: center;
    position: relative;
}
.myself-title {
    padding-top: 150px;
    font-size: 60px;
    margin: 0;
    color: aliceblue;
    
}
.divider {
    width: 50%;
    height: 2px;
    background-color: #1530ac;
    margin: 10px auto;
}
.myself-description {
    font-size: 30px;
    line-height: 1.5;
}