.section_certificate .skills_container{
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    /* grid-template-columns: repeat(3, 1fr); */
    gap: 20px;
    justify-content: center; /* 카드를 중앙에 위치시킴 */
    max-width: 1200px; /* 컨테이너의 최대 너비를 줄임 */
    margin: 0 auto; /* 중앙 정렬 */
    padding: 20px;
}

.section_certificate .skill_card {
    height: auto; /* 내용에 따라 높이가 자동 조정 */
    min-height: 100px; /* 최소 높이 설정 */
    background-color: white; /* 배경색 설정 */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* 그림자 효과 추가 */
    padding: 15px; /* 안쪽 여백 */
    border-radius: 8px; /* 모서리 둥글게 */
}

.section_certificate .skill_card li{
    font-size: 25px;
}